body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 0;
}

.header {
    margin: 0;
    text-align: center;
    background: #C43E2E;
    color: white;
    font-size: 1rem;
    max-height: 80px;
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  input[type=text], input[type=date], input[type=time] {
    width: 50%;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    float: right;
  }

  input[type=time] {
    display: flex;
    width: 50%;
}

.textbox {
    width: 100% !important;
}

  input[type=submit], input[type=reset] {
    margin-top: 10px;
    background-color: white;
    text-transform: uppercase;
    border: none;
    padding: 5px;
    box-shadow: 3px 3px 3px rgb(61, 61, 61);
    transition: all 0.3s ease 0s;
    border-radius: 15px;
}

  input[type=submit]:hover, input[type=reset]:hover {
    background-color: #1abc9c;
    cursor: pointer;
    transform: translateY(-3px);
  }

hr {
    display: flex;
    width: 100%;
    border-color: #1abc9c40;
}

.formContainer{
    display: flex;
    background: #C68A83;
    border-color: #1abc9c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    min-width: 235px;
    min-height: 30vh;
    margin:  10rem auto;
    padding: 1rem;
}

.resForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.kommentarer {
    margin-top: 15px;
    margin-bottom: 10px;
}

.resForm label{
    margin-top: 1rem;
}

.resForm button{
    margin-top: 1rem;
}

#antPlats, #turResa {
    border: none;
    outline: none;
    padding: 5px;
}

#pris label {
    margin-bottom: 20px;
}

#antalResenarer{
    
    display: flex;
    flex-direction: column;
}

#enkelPendling{
    
    display: flex;
    flex-direction: column;
}

#textRuta {
    max-width: 100%;
    min-width: 100%;
    resize: none;
}

.submitDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}

@media (max-width: 620px) {
    .formContainer{font-size: 0.7rem}
}